.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  background: linear-gradient(to top, #46927f, #f0fcf5);
}
.header h1 {
  font-weight: bold;
  font-size: 5rem;
  line-height: 1;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 40%;
  left: 0;
  margin-left: 35px;
}

.header ul {
  display: flex;
  margin-left: 30px;
  position: absolute;
  top: 51%;
  left: 0;
  margin-left: 30px;
}

.header ul li {
  padding: 0 10px;
}
.header ul li a {
  font-size: 1.2rem;
  color: #ffffff;
}
